 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 91px;
}

.u-section-1 .u-text-1 {
  margin: 19px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 31px;
}.u-section-3 .u-sheet-1 {
  min-height: 247px;
}

.u-section-3 .u-group-1 {
  min-height: 228px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 9px 14px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 6px 1px 0 191px;
}

.u-section-3 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 1px 0 191px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 1px 0 191px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 887px 0 191px;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-3 .u-image-1 {
  width: 154px;
  height: 202px;
  margin: -197px auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 879px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    margin-right: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    margin-right: 287px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 247px;
}

.u-section-4 .u-group-1 {
  min-height: 228px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 14px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 6px 1px 0 191px;
}

.u-section-4 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 1px 0 191px;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 1px 0 191px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 887px 0 191px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-4 .u-image-1 {
  width: 154px;
  height: 201px;
  margin: -123px auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 879px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-btn-1 {
    margin-right: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-1 {
    margin-right: 287px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 247px;
}

.u-section-5 .u-group-1 {
  min-height: 228px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 9px 14px;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 6px 1px 0 191px;
}

.u-section-5 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 1px 0 191px;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 1px 0 191px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 887px 0 191px;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-5 .u-image-1 {
  width: 154px;
  height: 204px;
  margin: -144px auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 879px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-btn-1 {
    margin-right: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-btn-1 {
    margin-right: 287px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 247px;
}

.u-section-6 .u-group-1 {
  min-height: 228px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 9px 14px;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 6px 1px 0 191px;
}

.u-section-6 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 1px 0 191px;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 1px 0 191px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 887px 0 191px;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-6 .u-image-1 {
  width: 154px;
  height: 204px;
  margin: -123px auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 879px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-btn-1 {
    margin-right: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-btn-1 {
    margin-right: 287px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 393px;
}

.u-section-7 .u-group-1 {
  min-height: 373px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 9px 14px;
}

.u-section-7 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 6px 1px 0 191px;
}

.u-section-7 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 1px 0 191px;
}

.u-section-7 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 1px 0 191px;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 887px 0 191px;
  padding: 0;
}

.u-section-7 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-7 .u-image-1 {
  width: 157px;
  height: 204px;
  margin: -335px auto 100px 8px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 879px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-btn-1 {
    margin-right: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-btn-1 {
    margin-right: 287px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 261px;
}

.u-section-8 .u-group-1 {
  min-height: 242px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-8 .u-container-layout-1 {
  padding: 9px 14px;
}

.u-section-8 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 6px 1px 0 191px;
}

.u-section-8 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 1px 0 191px;
}

.u-section-8 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 1px 0 191px;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 887px 0 191px;
  padding: 0;
}

.u-section-8 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-8 .u-image-1 {
  width: 157px;
  height: 210px;
  margin: -150px auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 879px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-btn-1 {
    margin-right: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-btn-1 {
    margin-right: 287px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 261px;
}

.u-section-9 .u-group-1 {
  min-height: 242px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-9 .u-container-layout-1 {
  padding: 9px 14px;
}

.u-section-9 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 6px 1px 0 191px;
}

.u-section-9 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 1px 0 191px;
}

.u-section-9 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 1px 0 191px;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 887px 0 191px;
  padding: 0;
}

.u-section-9 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-9 .u-image-1 {
  width: 157px;
  height: 208px;
  margin: -150px auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 879px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-btn-1 {
    margin-right: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-btn-1 {
    margin-right: 287px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 303px;
}

.u-section-10 .u-group-1 {
  min-height: 283px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-10 .u-container-layout-1 {
  padding: 9px 14px;
}

.u-section-10 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 6px 1px 0 191px;
}

.u-section-10 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 1px 0 191px;
}

.u-section-10 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 1px 0 191px;
}

.u-section-10 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 887px 0 191px;
  padding: 0;
}

.u-section-10 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-10 .u-image-1 {
  width: 158px;
  height: 208px;
  margin: -255px auto 17px 8px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-right: 879px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-btn-1 {
    margin-right: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-btn-1 {
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-btn-1 {
    margin-right: 287px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 257px;
}

.u-section-11 .u-group-1 {
  min-height: 237px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-11 .u-container-layout-1 {
  padding: 9px 14px;
}

.u-section-11 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 6px 1px 0 191px;
}

.u-section-11 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 1px 0 191px;
}

.u-section-11 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 1px 0 191px;
}

.u-section-11 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 887px 0 191px;
  padding: 0;
}

.u-section-11 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-11 .u-image-1 {
  width: 158px;
  height: 208px;
  margin: -150px auto 0 8px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-group-1 {
    height: auto;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-btn-1 {
    margin-right: 879px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-btn-1 {
    margin-right: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-btn-1 {
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-btn-1 {
    margin-right: 287px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 645px;
}

.u-section-12 .u-group-1 {
  min-height: 625px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-12 .u-container-layout-1 {
  padding: 9px 14px;
}

.u-section-12 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 6px 1px 0 191px;
}

.u-section-12 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 1px 0 191px;
}

.u-section-12 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 1px 0 191px;
}

.u-section-12 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 887px 0 191px;
  padding: 0;
}

.u-section-12 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-12 .u-image-1 {
  width: 158px;
  height: 208px;
  margin: -599px auto 361px 8px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-group-1 {
    height: auto;
  }

  .u-section-12 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-12 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-12 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-12 .u-btn-1 {
    margin-right: 879px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-btn-1 {
    margin-right: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-btn-1 {
    margin-right: 487px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-btn-1 {
    margin-right: 287px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 552px;
}

.u-section-13 .u-group-1 {
  min-height: 243px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-13 .u-container-layout-1 {
  padding: 0;
}

.u-section-13 .u-text-1 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 15px 15px 0 205px;
}

.u-section-13 .u-text-2 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 15px 0 205px;
}

.u-section-13 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px 15px 0 205px;
}

.u-section-13 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 901px 0 205px;
  padding: 0;
}

.u-section-13 .u-icon-1 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-13 .u-image-1 {
  width: 161px;
  height: 208px;
  margin: -123px auto 0 22px;
}

.u-section-13 .u-group-2 {
  min-height: 243px;
  height: auto;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 22px;
  margin-bottom: 34px;
}

.u-section-13 .u-container-layout-2 {
  padding: 0;
}

.u-section-13 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 15px 15px 0 205px;
}

.u-section-13 .u-text-5 {
  font-size: 0.75rem;
  line-height: 2.2;
  margin: 10px 15px 0 205px;
}

.u-section-13 .u-text-6 {
  font-size: 0.875rem;
  margin: 10px 15px 0 205px;
}

.u-section-13 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px 901px 0 205px;
  padding: 0;
}

.u-section-13 .u-icon-2 {
  margin-left: 4px;
  vertical-align: 0px;
}

.u-section-13 .u-image-2 {
  width: 161px;
  height: 211px;
  margin: -123px auto 0 22px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-group-1 {
    height: auto;
  }

  .u-section-13 .u-text-1 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-13 .u-text-3 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-13 .u-btn-1 {
    margin-right: 886px;
    margin-left: 20px;
  }

  .u-section-13 .u-group-2 {
    height: auto;
  }

  .u-section-13 .u-text-4 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-13 .u-text-5 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-13 .u-text-6 {
    font-weight: 400;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-13 .u-btn-2 {
    margin-right: 886px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    margin-left: 0;
  }

  .u-section-13 .u-text-2 {
    margin-left: 0;
  }

  .u-section-13 .u-text-3 {
    margin-left: 0;
  }

  .u-section-13 .u-btn-1 {
    margin-right: 686px;
    margin-left: 0;
  }

  .u-section-13 .u-text-4 {
    margin-left: 0;
  }

  .u-section-13 .u-text-5 {
    margin-left: 0;
  }

  .u-section-13 .u-text-6 {
    margin-left: 0;
  }

  .u-section-13 .u-btn-2 {
    margin-right: 686px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-btn-1 {
    margin-right: 506px;
  }

  .u-section-13 .u-btn-2 {
    margin-right: 506px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-btn-1 {
    margin-right: 306px;
  }

  .u-section-13 .u-btn-2 {
    margin-right: 306px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 11px;
}