.u-section-1 .u-sheet-1 {
  min-height: 50px;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url('https://assets.nicepagecdn.com/f88a7685/5452899/images/g8aa64a407aa7df038a258f2be2d57029ce9d7d91a877958e4fe4cba3936882635f808e38dd58e2a16351719226c99af4_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 292px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 74px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 24px auto 60px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 393px;
    margin-left: 558px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 158px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.25rem;
    text-transform: none;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 423px;
    margin-left: 338px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 447px;
    margin-left: 158px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 358px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 474px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 458px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50px;
}